[easmdiscover-command]
syntax = EASMDISCOVER DISCOVERY_TYPE=<str>
shortdesc = Submits a query to an external REST API to perfom recon and post results back via HEC.
description = \
    Submits a query to an external REST API to perfom recon and post results back via HEC.
comment1 = \
    Submits a job to search for known subdomains of various apex domains (values of 'target')
example1 = | inputlookup apex_domains.csv | fields target | easmdiscover discovery_type="subdomains"
maintainer = Greg Ford
usage = public
tags = app_for_easm easm discover subdomains